<!-- insert map here ? -->

<%= form_tag find_path do %>
  <select class="chzn-select">
    <option>Clifton</option>
    <option>Garfield</option>
    <option>Some other place</option>
  </select>

  <input type="submit" value="Go!">
<% end %>
